header h1{
    background-color: #365486;
    color: white;
    padding: 10px 10px 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

nav p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
nav img{
    padding-top: 30px;
    display: block;
    margin: 0 auto;
}

nav h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.inputNumber{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.result {
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.result p {
    margin: 5px 0;
}

#luas, #kel {
    font-weight: bold;
}


#Square{
    margin-top: 10px;
    outline: none;
    border-radius: 8px;
    border: #365486;
    padding: 10px;
 
}
body{
    background-color: #BFCFE7;
    text-align: center;
    margin-top: 20px;
}


#Square :focus{
    border: solid #365486;
}

button {
    background-color: #365486;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;

}

button:hover {
    background-color: #FFBB64;
}
button:disabled{

        background-color: red;
        cursor: not-allowed;
    
}
button:active{
    background-color: #65B741;
    transform: translateY(10px);
}

